<div class="row home-content">
  <div class="col-md-6 col-sm-12 mx-auto text-left">
    <h1>molia ;)</h1>
    <p>Gestão financeira pessoal e familiar.</p>
  </div>
  <div class="col-md-6 col-sm-12 mx-auto text-center">
    <div class="div-box-head">Entrar</div>
    <form >
      <input class="form-control col-12 input-margin input-login" type="email" placeholder="E-mail" aria-label="E-mail">
      <input class="form-control col-12 input-margin" type="password" placeholder="Senha" aria-label="Senha">
      <button class="btn btn-outline-success col-12 input-margin" type="submit">Logar</button>
    </form>

    <div class="row" style="height: 50px;">
      <div class="col-12 div-or">
          <div>ou</div>
      </div>
    </div>

    <a [routerLink]="['/register']" class="btn btn-primary col-12" >Registre-se</a>
  </div>
</div>