<div class="row regs-content">
    <div class="col-md-12 col-sm-12 mx-auto text-center">
      <div class="row">
        <div class="col-12 text-left">
            <h1>Registre-se :)</h1>
        </div>
      </div>
      <form>
        <input class="form-control col-12 input-margin input-login" type="text" placeholder="Nome" aria-label="Nome">
        <input class="form-control col-12 input-margin" type="text" placeholder="Sobrenome" aria-label="Sobrenome">
        <input class="form-control col-12 input-margin" type="email" placeholder="E-mail" aria-label="E-mail">
        <input class="form-control col-12 input-margin" type="password" placeholder="Senha" aria-label="Senha">
        <button class="btn btn-outline-success col-12 input-margin" type="submit">Salvar</button>
      </form>
    </div>
  </div>