<div class="d-flex flex-column flex-md-row p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal site-name-adjust">
      <a [routerLink]="['/']" class="text-dark site-name-link">molia</a>
  </h5>
  <nav class="my-2 my-md-0 mr-md-3">
    <a [routerLink]="['/about']" class="p-2 text-dark btn-about">Sobre nós</a>
    <a [routerLink]="['/pricing']" class="p-2 text-dark">Preços</a>
    <a [routerLink]="['/']" class="btn btn-outline-success btn-middle">Logar</a>
    <a [routerLink]="['/register']" class="btn btn-outline-success">Registre-se</a>
  </nav>
</div>
